html, body, #root, .App {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: #1C8EF9 !important;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 600;
  font-family: 'Fira Sans', sans-serif;
}

.login-form {
  background-color: #ffffff;
  text-align: left;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.login-form h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  font-weight: bold;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.btn-group {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}
